{% extends "base.html" %}

    {% block body %}
        <form action = "/conductGrasslandAssessment3" method="POST" class="formindent">
            {% csrf_token %}
            <table border="1">
                {{ form }}
            </table>
            <input type = 'submit' value="Submit">
        </form>
    {% endblock %}
    
    
    <!--<table style = "display: block;">
                <tbody>
                    <tr>
                        <br>
                        {% for field in form %}
                            <td style = "display: inline-block;"> {{ field.label_tag }}
                                 <br> {{ field }} <br> {{field}}<br><br></td>
                           
                        {% endfor %}
                    </tr>
                </tbody>
            </table>-->