{% extends "base.html" %}

    {% block body %}

        <form action = "/grasslandAssessmentResult" method="POST" class="formindent" >
            {% csrf_token %}
                <table border="1" id="table">
                        <tr>
                           <th scope="col">Total Nitrates</th>
                           <th scope="col">Total Phisphates</th>
                           <th scope="col">Total Land Area</th>
                           <th scope="col">Grassland Stocking Rate</th>
                           <th scope="col">Wholefarm Stocking Rate</th>
                       </tr>
                       {% for total in list_for_result %}
                       <tr>
                           <td>{{ total.0 }}</td>
                           <td>{{ total.1 }}</td>
                           <td>{{ total.2 }}</td>
                           <td>{{ total.3 }}</td>
                           <td>{{ total.4 }}</td>
                           <br>
                       </tr>
                       {% endfor %}
                </table>
            <input type = 'submit' value="Submit">
        </form>
    {% endblock %}
