{% extends "base.html" %}
{% include  "registration/login.html" %}

    {% block body %}
        <style>
            th {
                text-align: center !important;
            }
        </style>
        <form action = "/conductGrasslandAssessment5" method="POST" id="cssTable">
            {% csrf_token %}
                <table border="1" id="table">
                        <tr>
                            <th scope="col">Type of Livestock</th>
                            <th scope="col">Nitrogen</th>
                            <th scope="col">Phosphoros</th>
                            <th>Number of Animals</th>
                        </tr>
                        {% for task,field in form %}
                        <tr>
                            <td>{{ task.type_of_animal }}</td>
                            <td>{{ task.organic_nitrates }}</td>
                            <td>{{ task.organic_potassium }}</td>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                </table>
                <div id="button_wrapper">
                    <input type = 'submit' value="Submit">
                    <input type = 'reset' value="Clear">
                </div>
        </form>
    {% endblock %}
